*.pyc
*.~
*dsub1
*dsub2
*dsubij
*_uncal.dsub12.all.*
.ipynb_checkpoints/
nircam_calib/commissioning/NRC_33_grismTS_stability/pipe_process/*/*.fits
nircam_calib/commissioning/NRC_33_grismTS_stability/settling_time/*.csv
